<form action="add" method="POST">
    <p>Título: </p>
    <input type="text" name="title">
    <p>Descrição: </p>
    <textarea name="description"></textarea>
    <button type="submit">Enviar</button>
</form>